name: clickstack

services:
  db:
    image: mongo:5.0.14-focal
    volumes:
      - mongo_data:/data/db
    networks:
      - internal
    restart: always
    deploy:
      resources:
        limits:
          memory: 2g
    healthcheck:
      test: ["CMD", "mongo", "--eval", "db.adminCommand('ping')"]
      interval: 30s
      timeout: 10s
      retries: 3

  ch-server:
    image: clickhouse/clickhouse-server:25.6-alpine
    environment:
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: 1
    volumes:
      - ./docker/clickhouse/local/config.xml:/etc/clickhouse-server/config.xml
      - ./docker/clickhouse/local/users.xml:/etc/clickhouse-server/users.xml
      - ch_data:/var/lib/clickhouse
      - ch_logs:/var/log/clickhouse-server
    networks:
      - internal
    restart: always
    deploy:
      resources:
        limits:
          memory: 44g
          cpus: '8'
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    healthcheck:
      test: ["CMD", "clickhouse-client", "--query", "SELECT 1"]
      interval: 30s
      timeout: 10s
      retries: 3

  otel-collector:
    image: docker.hyperdx.io/hyperdx/hyperdx-otel-collector:latest
    environment:
      CLICKHOUSE_ENDPOINT: 'tcp://ch-server:9000?dial_timeout=10s'
      HYPERDX_OTEL_EXPORTER_CLICKHOUSE_DATABASE: default
      HYPERDX_LOG_LEVEL: info
      OPAMP_SERVER_URL: 'http://app:4320'
      GOMEMLIMIT: '15GiB'
    expose:
      - '13133'
      - '24225'
      - '4317'
      - '4318'
      - '8888'
    networks:
      - internal
    depends_on:
      ch-server:
        condition: service_healthy
    restart: always
    deploy:
      resources:
        limits:
          memory: 16g

  app:
    image: docker.hyperdx.io/hyperdx/hyperdx:latest
    expose:
      - '8000'
      - '8080'
    environment:
      FRONTEND_URL: 'https://hyperdx.hammern.trydig.io'
      HYPERDX_API_PORT: '8000'
      HYPERDX_APP_PORT: '8080'
      HYPERDX_APP_URL: 'https://hyperdx.hammern.trydig.io'
      HYPERDX_LOG_LEVEL: info
      MINER_API_URL: 'http://miner:5123'
      MONGO_URI: 'mongodb://db:27017/hyperdx'
      SERVER_URL: 'http://127.0.0.1:8000'
      OPAMP_PORT: '4320'
      OTEL_EXPORTER_OTLP_ENDPOINT: 'http://otel-collector:4318'
      OTEL_SERVICE_NAME: 'hdx-oss-app'
      USAGE_STATS_ENABLED: 'false'
      DEFAULT_CONNECTIONS: '[{"name":"Local ClickHouse","host":"http://ch-server:8123","username":"default","password":""}]'
      DEFAULT_SOURCES: '[{"from":{"databaseName":"default","tableName":"otel_logs"},"kind":"log","timestampValueExpression":"TimestampTime","name":"Logs","displayedTimestampValueExpression":"Timestamp","implicitColumnExpression":"Body","serviceNameExpression":"ServiceName","bodyExpression":"Body","eventAttributesExpression":"LogAttributes","resourceAttributesExpression":"ResourceAttributes","defaultTableSelectExpression":"Timestamp,ServiceName,SeverityText,Body","severityTextExpression":"SeverityText","traceIdExpression":"TraceId","spanIdExpression":"SpanId","connection":"Local ClickHouse","traceSourceId":"Traces","sessionSourceId":"Sessions","metricSourceId":"Metrics"},{"from":{"databaseName":"default","tableName":"otel_traces"},"kind":"trace","timestampValueExpression":"Timestamp","name":"Traces","displayedTimestampValueExpression":"Timestamp","implicitColumnExpression":"SpanName","serviceNameExpression":"ServiceName","bodyExpression":"SpanName","eventAttributesExpression":"SpanAttributes","resourceAttributesExpression":"ResourceAttributes","defaultTableSelectExpression":"Timestamp,ServiceName,StatusCode,round(Duration/1e6),SpanName","traceIdExpression":"TraceId","spanIdExpression":"SpanId","durationExpression":"Duration","durationPrecision":9,"parentSpanIdExpression":"ParentSpanId","spanNameExpression":"SpanName","spanKindExpression":"SpanKind","statusCodeExpression":"StatusCode","statusMessageExpression":"StatusMessage","connection":"Local ClickHouse","logSourceId":"Logs","sessionSourceId":"Sessions","metricSourceId":"Metrics"},{"from":{"databaseName":"default","tableName":""},"kind":"metric","timestampValueExpression":"TimeUnix","name":"Metrics","resourceAttributesExpression":"ResourceAttributes","metricTables":{"gauge":"otel_metrics_gauge","histogram":"otel_metrics_histogram","sum":"otel_metrics_sum"},"connection":"Local ClickHouse","logSourceId":"Logs","traceSourceId":"Traces","sessionSourceId":"Sessions"},{"from":{"databaseName":"default","tableName":"hyperdx_sessions"},"kind":"session","timestampValueExpression":"TimestampTime","name":"Sessions","displayedTimestampValueExpression":"Timestamp","implicitColumnExpression":"Body","serviceNameExpression":"ServiceName","bodyExpression":"Body","eventAttributesExpression":"LogAttributes","resourceAttributesExpression":"ResourceAttributes","defaultTableSelectExpression":"Timestamp,ServiceName,SeverityText,Body","severityTextExpression":"SeverityText","traceIdExpression":"TraceId","spanIdExpression":"SpanId","connection":"Local ClickHouse","logSourceId":"Logs","traceSourceId":"Traces","metricSourceId":"Metrics"}]'
    networks:
      - internal
    depends_on:
      ch-server:
        condition: service_healthy
      db:
        condition: service_healthy
    restart: always
    deploy:
      resources:
        limits:
          memory: 2g

networks:
  internal:

volumes:
  mongo_data:
  ch_data:
  ch_logs: